﻿@{
    ViewBag.Title = "Html5Sortable";
}

<style type="text/css">
    ul.sortable li {
        cursor: move;
        list-style-type: none;
    }
</style>

 @section scripts
{
    <script src="@Url.Content("~/Scripts/knockout-3.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/html.sortable.js")"></script>
    
     <script>

         (function () {

             var vm;

             var ViewModel = function(colors) {
                 this.colors = ko.observableArray(colors);
                 this.oldIndex = ko.observable();
                 this.newIndex = ko.observable();
             };

             $(document).ready(function() {
                 // ko binding
                 var rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"];
                 vm = new ViewModel(rainbow);
                 ko.applyBindings(vm);

                 $('.sortable').sortable().bind('sortupdate', function (e, ui) {
                     var oldIndex = ui.oldindex;
                     var newIndex = ui.item.index();
                     vm.oldIndex(oldIndex);
                     vm.newIndex(newIndex);
                     // there's an interaction with ko that prevents this from working correctly
                     var colors = vm.colors();
                     var colorToMove = colors[oldIndex];
                     // remove from old index
                     colors.splice(newIndex + 1, 0, colorToMove);

                     //if (newIndex > oldIndex) {
                     //    colors.splice(newIndex, 0, colorToMove);
                     //}
                     //colors.splice(newIndex + 1, 0, colorToMove);
                     //if (newIndex > oldIndex) {
                     //    colors.splice(oldIndex, 1);
                     //}
                     vm.colors(colors);
                 });

             });

         }());

     </script>
}

<h2>Html5Sortable</h2>

<ul class="list-group sortable" data-bind="foreach: colors" id="color-list">
    <li class="list-group-item" data-bind="text: $data" draggable="true"></li>
</ul>

<ul>
    <li data-bind="text: 'from: ' + oldIndex()"></li>
    <li data-bind="text: 'to: ' + newIndex()"></li>
</ul>

<h2>Array Order</h2>
<ul data-bind="foreach: colors">
    <li data-bind="text: $data"></li>
</ul>