﻿@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
        li {
            cursor: move;
        }
        li.dragOver {
            border: 1px red dashed;
        }
</style>
@section scripts
{
    <script src="@Url.Content("~/Scripts/knockout-3.2.0.js")"></script>

    <script>
        (function () {

            var ViewModel = function (colors) {
                this.colors = ko.observableArray(colors);
            };

            $(document).ready(function () {
                // ko binding
                var rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"];
                var vm = new ViewModel(rainbow);
                ko.applyBindings(vm);

                // drag & drop
                var $colorList = $('#color-list');
                var dragSourceElement = null;

                $colorList.on('dragstart', 'li', function (e) {
                    $(this).css('background-color', 'blue');
                    dragSourceElement = this;
                    e.originalEvent.dataTransfer.dropEffect = 'move';
                    e.originalEvent.dataTransfer.setData('text/html', this.innerHTML);
                });

                $colorList.on('dragover', 'li', function (e) {
                    e.preventDefault();
                    e.originalEvent.dataTransfer.dropEffect = 'move';
                });

                $colorList.on('dragenter', 'li', function () {
                    $(this).addClass('dragOver');
                });

                $colorList.on('dragleave', 'li', function () {
                    $(this).removeClass('dragOver');
                });

                $colorList.on('dragend', 'li', function () {
                    $(this).css('background-color', 'white');
                });

                $colorList.on('drop', 'li', function (e) {
                    e.stopPropagation();
                    if (dragSourceElement !== this) {
                        dragSourceElement.innerHTML = this.innerHTML;
                        this.innerHTML = e.originalEvent.dataTransfer.getData('text/html');
                    }
                    return false;
                });
            });

        }());
    </script>
}

<h2>Colors</h2>

<ul class="list-group" data-bind="foreach: colors" id="color-list">
    <li class="list-group-item" data-bind="text: $data" draggable="true"></li>
</ul>

<h2>Array Order</h2>
<ul data-bind="foreach: colors">
    <li data-bind="text: $data"></li>
</ul>