﻿@{
    ViewBag.Title = "KoDragDrop";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/knockout-3.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.dragdrop.js")"></script>
    <script>
        // https://github.com/One-com/knockout-dragdrop

        (function() {

            function toDraggables(values) {
                return ko.utils.arrayMap(values, function(value) {
                    return {
                        value: value,
                        dragging: ko.observable(false),
                        isSelected: ko.observable(false),
                    };
                });
            }

            var ViewModel = function(colors) {
                this.colors = ko.observableArray(toDraggables(colors));
                this.dragStart = function(item) {
                    item.dragging(true);
                };
                this.dragEnd = function(item) {
                    item.dragging(false);
                };
                this.reorder = function(event, dragData, zoneData) {
                    if (dragData !== zoneData.item) {
                        var zoneDataIndex = zoneData.items.indexOf(zoneData.item);
                        zoneData.items.remove(dragData);
                        zoneData.items.splice(zoneDataIndex, 0, dragData);
                    }
                };
            };

            $(document).ready(function() {
                // ko binding
                var rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"];
                var vm = new ViewModel(rainbow);
                ko.applyBindings(vm);
            });

        }());


    </script>
}

<h2>KoDragDrop</h2>

<ul class="list-group sortable" data-bind="foreach: colors" id="color-list">
    <li class="list-group-item" 
        data-bind="text: value, 
                   dragZone: {name: 'sortable', dragStart: $parent.dragStart, dragEnd: $parent.dragEnd },
                   dragEvents: {name: 'sortable', dragOver: $parent.reorder, data: { items: $parent.colors, item: $data } }" draggable></li>
</ul>

<h2>Array Order</h2>
<ul data-bind="foreach: colors">
    <li data-bind="text: value"></li>
</ul>