﻿
@{
    ViewBag.Title = "RollMyOwn";
}

<style type="text/css">
    
    .dragging {
        background-color: blue;
    }
    .drag-over {
        border: 1px dashed blue;
    }
     
</style>

@section scripts
{
    <script src="@Url.Content("~/Scripts/knockout-3.2.0.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout.dragdrop.js")"></script>
    <script>
        // http://www.quirksmode.org/blog/archives/2009/09/the_html5_drag.html
        // not working in IE

        (function () {
            ko.bindingHandlers.sortable = {
                // $.data('index') not getting correct value after sort

                init: function (element, valueAccessor, allBindings, viewModel, bindingContext) {

                    $(element).on('dragstart', '[draggable]', function(e) {
                        $(this).addClass('dragging');
                        e.originalEvent.dataTransfer.dropEffect = 'move';
                        // ie doesn't accept text/html
                        e.originalEvent.dataTransfer.setData('text', $(this).attr('data-index'));
                    });

                    $(element).on('dragenter', '[draggable]', function (e) {
                        // have to cancel for drop to work
                        e.preventDefault();
                        $(this).addClass('drag-over');
                    });

                    $(element).on('dragleave', '[draggable]', function (e) {
                        // have to cancel for drop to work
                        e.preventDefault();
                        $(this).removeClass('drag-over');
                    });

                    $(element).on('dragover', '[draggable]', function (e) {
                        // have to cancel for drop to work
                        e.preventDefault();
                    });

                    $(element).on('dragend', '[draggable]', function (e) {
                        $(this).removeClass('dragging');
                    });

                    $(element).on('drop', '[draggable]', function (e) {
                        e.preventDefault();
                        $(this).removeClass('drag-over');
                        var data = e.originalEvent.dataTransfer.getData('text');
                        var fromIndex = data;
                        var toIndex = $(this).attr('data-index');
                        var value = valueAccessor();
                        var array = value();
                        var valueToMove = array.splice(fromIndex, 1)[0];
                        array.splice(toIndex, 0, valueToMove);
                        value.valueHasMutated();
                    });
                }
            };

            var ViewModel = function(colors) {
                this.colors = ko.observableArray(colors);
            };

            $(document).ready(function() {
                // ko binding
                var rainbow = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"];
                var vm = new ViewModel(rainbow);
                ko.applyBindings(vm);
            });

        }());

    </script>
}

<h2>RollMyOwn</h2>

<ul class="list-group" data-bind="foreach: colors, sortable: colors" id="color-list">
    <li class="list-group-item" data-bind="text: $data, attr: {'data-index': $index }" draggable="true"></li>
</ul>

<h2>Array Order</h2>
<ul data-bind="foreach: colors">
    <li data-bind="text: $data"></li>
</ul>